<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
</head>

<body id="st_body">
    <header class="navegador" id="nav1">
    <h1 id="zaf">Zafary</h1>

    </header>
    <div id="di">
        <aside>
                 <h2 id='home'><img src="./icono/icono.jpg" alt="">  Home</h2>
            <h2 id='WhatzApp'><img src="./icono/wazap.jpg" alt="">  WhatzApp</h2>
            <h2 id='Zpotify'><img src="./icono/zpotify.jpg" alt="">  Zpotify</h2>
        </aside>
        <main>
            <header class="navegador" id="nav2">
                <h2 id='titulo_din'> Home</h2>
            </header>
            <section >
                <iframe id="cont_din" src="../home/index.html" frameborder="0" allowfullscreen></iframe>
            </section>
        </main>
    </div>


<script src="index.js"></script>
</body>

</html>